@model AirBooker.Web.Models.Payment.PaymentResultViewModel

@{
    ViewData["Title"] = @Localizer["ResultPageTitle"];
}

<div class="text-center justify-content-center">
    <input type="hidden" name="flightBookingId" asp-for="@Model.FlightBookingId" />
    <input type="hidden" name="returnFlightBookingId" asp-for="@Model.ReturnFlightBookingId" />
    @if (Model.OperationSuccess)
    {
        <i class="bi bi-check2-circle" style="font-size: 250px; color: green;"></i>
        <div><h1 class="display-6">@Localizer["ThankYouMessage"]</h1></div>
        <div class="justify-content-center d-flex">
            <div class="row">
                <div class="col">
                    <a asp-controller="Payment" asp-action="GetReceipt" target="_blank" asp-route-flightBookingId="@Model.FlightBookingId" asp-route-returnFlightBookingId="@Model.ReturnFlightBookingId">
                        <input type="button" class="btn btn-outline-success" value="@Localizer["Receipt"]" />
                    </a>
                </div>
                <div class="col">
                    <a asp-controller="Home" asp-action="Index">
                        <input type="button" class="btn btn-outline-secondary" value="@Localizer["ToHomeButton"]" />
                    </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <h3 style="color: red;">@Localizer["Sorry"]</h3>
        <p style="color: red;">@Localizer["RequestError"]</p>
    }
</div>